### IDE specific ###
.idea/**/*

### Python ###
__pycache__/

## Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
var/


## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## Others
note/
